n8n/_email______Clicou_no_Link_Webhook_Evento_Atual.json
{
  "name": "[email] 🔗📩Clicou no Link Webhook Evento Atual",
  "nodes": [
    {
      "parameters": {
        "path": "powertreine",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -260,
        -120
      ],
      "id": "d228fa76-6d28-47a0-9b4d-7a86d7a29b1a",
      "name": "Webhook",
      "webhookId": "810d5f41-09fb-4e40-8035-856daf4f84ef"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PAWWx51YQsLPNt0p",
          "mode": "list",
          "cachedResultName": "[Sympla] Get Event Info"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "mode"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -40,
        -120
      ],
      "id": "5d5c0ff1-da63-44f7-bf75-640b693d6161",
      "name": "Get Actual Event Info"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.event_link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        180,
        -120
      ],
      "id": "ea4d9ed2-8dc2-4f90-9bc0-2a5c154b4ede",
      "name": "Respond to Webhook - redirect to sympla sales page"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tbl_lead_scores (contact_id, score, last_updated_at)\nVALUES (\n    '{{ $('Webhook').item.json.query.contact_id }}', -- ID do contato, como fornecido pelo seu webhook\n    3, -- Pontos a serem adicionados/iniciados\n    now() -- Data/hora da ação\n)\nON CONFLICT (contact_id) DO UPDATE SET -- Se o contato_id já existe, atualiza\n    score = tbl_lead_scores.score + EXCLUDED.score, -- Adiciona 3 pontos ao score existente\n    last_updated_at = now(); -- Atualiza a data da última modificação",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        -120
      ],
      "id": "8b3cdc9a-06fa-4a93-ae25-476904d43f10",
      "name": "atualiza o lead score",
      "credentials": {
        "postgres": {
          "id": "zHh6H1wAznHJ7u8u",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tbl_contact_tags (contact_id, tag_id, assigned_at)\nVALUES (\n    '{{ $('Webhook').item.json.query.contact_id }}', -- ID do contato, como fornecido pelo seu webhook\n    7, -- ID da tag 'Clicked_email'\n    now() -- Data/hora da atribuição da tag\n)\nON CONFLICT (contact_id, tag_id) DO NOTHING; -- Se o contato já tem a tag, não faz nada",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        620,
        -120
      ],
      "id": "0f9f7ca5-c687-49f5-b94a-2431682ecc88",
      "name": "TAG: Clicked_email",
      "credentials": {
        "postgres": {
          "id": "zHh6H1wAznHJ7u8u",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tbl_message_logs (contact_id, message_id, event_type, event_timestamp, details, ip_address, user_agent)\nVALUES (\n    '{{ $('Webhook').item.json.query.contact_id }}',\n    '{{ $('Webhook').item.json.query.message_id }}',\n    'clicked',\n    NOW(),\n    '{{ $('Webhook').item.json.query.url }}', -- URL do link clicado\n    '{{ $json.headers[\"x-forwarded-for\"] || $json.ip }}',\n    '{{ $json.headers[\"user-agent\"] }}'\n)\nON CONFLICT (contact_id, message_id, event_type, details) DO NOTHING; -- Previne duplicatas para o mesmo clique no mesmo link",
        "options": {}
      },
      "id": "105ea9f7-6e4d-4e0e-ad9c-2fd4fac52ea6",
      "name": "log que clicou na mensagem",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        840,
        -120
      ],
      "credentials": {
        "postgres": {
          "id": "zHh6H1wAznHJ7u8u",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Actual Event Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Actual Event Info": {
      "main": [
        [
          {
            "node": "Respond to Webhook - redirect to sympla sales page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook - redirect to sympla sales page": {
      "main": [
        [
          {
            "node": "atualiza o lead score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza o lead score": {
      "main": [
        [
          {
            "node": "TAG: Clicked_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TAG: Clicked_email": {
      "main": [
        [
          {
            "node": "log que clicou na mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "40580032-4fe3-4020-bb97-921fa1530e24",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7aecd785065c00560272b71e81faeb672a42eb6d3995143b839eb5e1b941d4a"
  },
  "id": "afCC4JsNYHziFYz6",
  "tags": []
}