n8n/_email______Abriu_email.json
{
  "name": "[email] 🤗📩Abriu email",
  "nodes": [
    {
      "parameters": {
        "path": "pixel",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -60,
        -320
      ],
      "id": "62db0e9b-cca1-49d9-806d-9ae340e7f84e",
      "name": "Webhook",
      "webhookId": "eec607b2-4194-4b7b-8c5f-07f05c8ff030"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tbl_lead_scores (contact_id, score, last_updated_at)\nVALUES (\n    '{{ $('Webhook').item.json.query.contact_id }}', -- ID do contato, como fornecido pelo seu webhook\n    1, -- Pontos a serem adicionados/iniciados\n    now() -- Data/hora da ação\n)\nON CONFLICT (contact_id) DO UPDATE SET -- Se o contato_id já existe, atualiza\n    score = tbl_lead_scores.score + EXCLUDED.score, -- Adiciona 3 pontos ao score existente\n    last_updated_at = now(); -- Atualiza a data da última modificação",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        380,
        -320
      ],
      "id": "1d28f098-6069-46bf-9533-8d6ee0eb13d8",
      "name": "atualiza o lead score",
      "credentials": {
        "postgres": {
          "id": "zHh6H1wAznHJ7u8u",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "=about:blank",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        160,
        -320
      ],
      "id": "1655e30e-a59a-4d62-8fb3-576dc2c2169b",
      "name": "mostra página em branco"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tbl_contact_tags (contact_id, tag_id, assigned_at)\nVALUES (\n    '{{ $('Webhook').item.json.query.contact_id }}', -- ID do contato, como fornecido pelo seu webhook\n    6, -- ID da tag 'Clicked_email'\n    now() -- Data/hora da atribuição da tag\n)\nON CONFLICT (contact_id, tag_id) DO NOTHING; -- Se o contato já tem a tag, não faz nada",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        600,
        -320
      ],
      "id": "85ee9d94-030f-49de-b3ef-24f70bc84d81",
      "name": "TAG: abriu email",
      "credentials": {
        "postgres": {
          "id": "zHh6H1wAznHJ7u8u",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tbl_message_logs (contact_id, message_id, event_type, event_timestamp, ip_address)\nVALUES (\n    '{{ $('Webhook').item.json.query.contact_id }}',\n    '{{ $('Webhook').item.json.query.message_id }}',\n    'opened',\n    NOW(),\n    '{{ $json.headers[\"x-forwarded-for\"] || $json.ip }}' -- Captura o IP do cliente\n   -- Captura o User-Agent do cliente de e-mail/navegador\n)\nON CONFLICT (contact_id, message_id, event_type) DO NOTHING; -- Para evitar logs duplicados da mesma abertura",
        "options": {}
      },
      "id": "70329f27-a10a-4409-ada6-022a578b5cbf",
      "name": "log que abriu a mensagem",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        820,
        -320
      ],
      "credentials": {
        "postgres": {
          "id": "zHh6H1wAznHJ7u8u",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "atualiza o lead score": {
      "main": [
        [
          {
            "node": "TAG: abriu email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "mostra página em branco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mostra página em branco": {
      "main": [
        [
          {
            "node": "atualiza o lead score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TAG: abriu email": {
      "main": [
        [
          {
            "node": "log que abriu a mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f724039f-e16e-4538-b2f7-aaade59ff335",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7aecd785065c00560272b71e81faeb672a42eb6d3995143b839eb5e1b941d4a"
  },
  "id": "sMCtRqqwX0T2oy5g",
  "tags": []
}