n8n/_email_______Bounces.json
{
  "name": "[email]😖📩❌ Bounces",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tbl_contact_tags (contact_id, tag_id, assigned_at)\nVALUES (\n    (SELECT id FROM tbl_contacts WHERE email = '{{ $json.email }}'),  -- E-mail específico aqui\n    1,                                                              -- tag_id para 'Bounce'\n    now()\n)\nON CONFLICT (contact_id, tag_id) DO NOTHING;",
        "options": {}
      },
      "id": "d277a195-4210-4895-8955-21b7b25bba57",
      "name": "Update Records",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1180,
        -460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zHh6H1wAznHJ7u8u",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        -310
      ],
      "id": "26fb92d7-8b0b-4d5c-a2ca-2ee857042595",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "chatId": "67800224",
        "text": "Hard Bounces removidos",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        520,
        -660
      ],
      "id": "b8b8b2cc-d1c5-438b-99f6-bc9678c69ea1",
      "name": "Telegram",
      "webhookId": "7d293cbd-38fa-4c68-9273-de9f9d024f3c",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "QVWNuGeLhVSwaTOz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lista de códigos de hard bounce\nconst hardBounceCodes = [\n  '5.0.0', '5.1.0', '5.1.1', '5.1.2', '5.1.3', '5.1.4', '5.1.6', '5.1.7', \n  '5.1.8', '5.2.0', '5.2.1', '5.2.4', '5.3.0', '5.3.2', '5.3.3', '5.3.5', \n  '5.4.0', '5.4.1', '5.4.3', '5.4.4', '5.4.6', '5.5.0', '5.5.1', '5.5.2', \n  '5.5.4', '5.5.5', '5.6.0', '5.6.1', '5.6.2', '5.6.3', '5.6.5', '5.7.0', \n  '5.7.1', '5.7.2', '5.7.3', '5.7.4', '5.7.5', '5.7.6', '5.7.7', '9.9.9', \n  '15.1.1'\n];\n\n// Filtra mensagens com status 'Erro' e cujo bounce_code está na lista de hardBounceCodes\nconst emails = $input.first().json.data.messages\n  .filter(message => \n    message.status === 'Erro' && \n    hardBounceCodes.includes(message.bounce_code)\n  )\n  .map(message => ({\n    json: { email: message.recipient }\n  }));\n\nreturn emails;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        -460
      ],
      "id": "97396431-93ed-4c32-b6a8-badd1545ee6b",
      "name": "Code"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -580,
        -560
      ],
      "id": "bb4ec8d9-d227-49c4-a771-74e23301b3f3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"totalPages\": {{ $json.links.last.split('page=')[1].split('&')[0] }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        -560
      ],
      "id": "3da9d41b-b8b2-42ef-a68f-a2f9853a1064",
      "name": "Número de Pages"
    },
    {
      "parameters": {
        "url": "=https://api.smtplw.com.br/v1/messages?page={{ $json.currentPage }}&per=100&start_date=2025-01-01&end_date=2025-05-26&status=errors",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-auth-token",
              "value": "9c9410b0e3e76a5692bba92897c26f0d"
            }
          ]
        },
        "options": {}
      },
      "name": "HTTP Request per Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        520,
        -460
      ],
      "id": "48dbb5d0-6e8e-410c-bacc-b721b10db75c",
      "notes": "Este nó fará a requisição para cada página.\nConfigure a autenticação e outros parâmetros conforme necessário."
    },
    {
      "parameters": {
        "url": "https://api.smtplw.com.br/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "errors"
            },
            {
              "name": "start_date",
              "value": "2025-01-01"
            },
            {
              "name": "end_date",
              "value": "={{ new Date().toISOString().split('T')[0] }}"
            },
            {
              "name": "per",
              "value": "100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-auth-token",
              "value": "9c9410b0e3e76a5692bba92897c26f0d"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -360,
        -560
      ],
      "id": "460e898d-9f54-4c6e-b95d-d3274efe3274",
      "name": "Get Total Pages",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = [];\nconst totalPages = $input.first().json.totalPages;\n\nfor (let i = 1; i <= totalPages; i++) {\n  items.push({ \n    json: { \n      currentPage: i,\n      // Você pode adicionar outros dados aqui que o nó HTTP Request possa precisar\n      baseUrl: \n        $('Get Total Pages').first().json.links.last.split('?')[0]\n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -460
      ],
      "id": "109a8b53-ebf7-4209-abd2-430d49afc5e8",
      "name": "Code1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        300,
        -460
      ],
      "id": "7b0eebe0-b0eb-44d9-a38f-22c971dcfa9e",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1400,
        -310
      ],
      "id": "1eb9ebf1-557c-4547-82f9-f830f984c017",
      "name": "Wait",
      "webhookId": "660d5e72-97fb-4e7f-88d0-b8a9005df94b"
    },
    {
      "parameters": {
        "chatId": "67800224",
        "text": "=Hard Bounces - Tem {{ $json.totalPages }} pages",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        -660
      ],
      "id": "a8674fdb-7712-4730-9370-700c932b30ce",
      "name": "Telegram1",
      "webhookId": "7d293cbd-38fa-4c68-9273-de9f9d024f3c",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "QVWNuGeLhVSwaTOz",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Update Records": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Total Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Número de Pages": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request per Page": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Total Pages": {
      "main": [
        [
          {
            "node": "Número de Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request per Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "12288f2e-0354-4ca6-9c51-bcdf76e50b50",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7aecd785065c00560272b71e81faeb672a42eb6d3995143b839eb5e1b941d4a"
  },
  "id": "6vQFe8baHwmyM5TZ",
  "tags": [
    {
      "createdAt": "2025-05-13T03:03:46.623Z",
      "updatedAt": "2025-05-13T03:03:46.623Z",
      "id": "1vazMGVudOeQanvs",
      "name": "email"
    }
  ]
}